<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjetoLocacao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servelet</display-name>
    <servlet-name>Servelet</servlet-name>
    <servlet-class>Servelet.Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servelet</servlet-name>
    <url-pattern>/Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Projeto</display-name>
    <servlet-name>Projeto</servlet-name>
    <servlet-class>Projeto.Projeto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Projeto</servlet-name>
    <url-pattern>/Projeto</url-pattern>
  </servlet-mapping>
</web-app>